<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>listado de Actores</title>
        <link rel='stylesheet' href='/css/style.css' />
    
    </head>
<body>
    <body>
        <figure>
            <img src="/img/logo-DH.png" alt="Logo Digital House">
        </figure>
        <h1 class="actors__title">LISTADO DE ACTORES</h1>
        <a class="botonVolver" href="/">inicio</a>
        <ul class="actors__list">
            <% actors.forEach(actor => { %>
                 <li>
                    <p>Nombre : <%= actor.first_name %></p>
                    <p>Apellido : <%= actor.last_name %></p>
                    <p>Rating : <%= actor.rating %></p>
                 </li>
            <% }) %>
        </ul>
    </body>

</body>
</html>